<h1>All Thicknesses</h1>
<% if admin? %>
	<%= link_to "New Thickness", new_mthickness_path %>
<% end %>

<ul>
<% @mthicknesses.each do |mthickness| %>
	<li><%= mthickness.thickness %> mm</li>
<% end %>
</ul>