<p id="notice"><%#= notice %></p>

<p>
  <b>Code:</b>
  <%= @mtype.code %>
</p>

<p>
  <b>Desc:</b>
  <%= @mtype.desc %>
</p>


<%= link_to 'Edit', edit_mtype_path(@mtype) %> |
<%= link_to 'Back', mtypes_path %>
