<h1>PMMTS</h1>
<p>Home#index</p>

<% if admin? %>
	<%= link_to "Sign Up", signup_path %>
	<p>link_to #Create New Material Type</p>
	<p>link_to #Create New Material</p>
	<p>link_to #Report</p>
<% end %>

<p>SEARCH FUNCTION</p>