<div class="content">
<h1>PMMTS - home#index</h1>

<% if admin? %>
	<h2>User</h2>
		<%= link_to "New User", signup_path %>
	<h2>Material Types</h2>
		<p>Show All Material Types</p>
		<p>Add New Material Type</p>
	<h2>Material Thicknesses</h2>
		<%= link_to "All thicknesses", mthicknesses_path %><br />
	<h2>Offcut</h2>
	<p>link_to #Report</p>
<% end %>
</div>

<div class="content">
<p>SEARCH FUNCTION</p>
</div>