<h1>PMMTS</h1>
<p>Home#index</p>

<% if admin? %>
	<h2>User</h2>
		<%= link_to "New User", signup_path %>
	<h2>Material Types</h2>
		<p>Show All Material Types</p>
		<p>Add New Material Type</p>
	<h2>Material Thickness</h2>
		<%= link_to "All Thickness", mthicknesses_path %><br />
		<%= link_to "New Thickness", new_mthickness_path %>
	<h2>Offcut</h2>
	<p>link_to #Report</p>
<% end %>

<p>SEARCH FUNCTION</p>